<ion-app>
  <div *ngIf="uid.length">
    <ion-menu contentId="main" menuId="menu">
    <ion-header>
        <ion-toolbar>
          <ion-avatar>
            <img src={{registro.foto}}>
          </ion-avatar>
          <ion-menu-toggle>
            <ion-item button=true [routerLink]="['/login']" lines="none" color="primary">
              <ion-icon slot="start" name="person-circle"></ion-icon>
              <label>
                <ion-text><strong>{{registro.nombres}}</strong></ion-text>
                <ion-text><strong> {{registro.apellidos}}</strong></ion-text>
              </label>
            </ion-item>
          </ion-menu-toggle>
        </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-list style="background-color: rgb(202, 202, 202);">
          <ion-item button=true [routerLink]="['/moduloapren']" lines="none">
            <ion-label class="normal">
              <ion-text><strong>Modulos de Aprendizaje</strong></ion-text>
            </ion-label>
          </ion-item>
          <ion-item button=true [routerLink]="['/videotuto']" lines="none">
            <ion-label class="normal">
              <ion-text><strong>Videos Tutoriales</strong></ion-text>
            </ion-label>
          </ion-item>
          <ion-item button=true [routerLink]="['/moduloalgo']" lines="none">
            <ion-label class="normal">
              <ion-text><strong>Modulos de Algoritmos</strong></ion-text>
            </ion-label>
          </ion-item>
          <ion-item button=true [routerLink]="['/bibliotecacodi']" lines="none">
            <ion-label class="normal">
              <ion-text><strong>Biblioteca de Codigos</strong></ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </div>
  <div *ngIf="!uid.length">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
